.ClassroomContainer{
    margin: auto ;
    width: 90%;
    height: 90%;
    position: relative;
}
.ClassroomContainer .ClassroomWrap{
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    border-radius: .5rem;
}
