.MyLogContainer{
    height: 100%;
    padding: .8rem;
    box-sizing: border-box;
}
.MyLogTableWrap{
    overflow: auto;
    height: 70%;
}
.MyLogTotalWrap{
    display: flex;
    position: absolute;
    width: calc(100% - 1.6rem);
    bottom: .5rem;
    background-color: #FFDC5F;
    border-radius: .5rem;
}
.MyLogTotalWrap div{
    flex: 1;
    text-align: center;
    border-right: 2px solid white;
}
.MyLogTotalWrap div:last-of-type{
    border-right: none;
}

.MyLogTotalWrap div p{
    margin:.5rem 0;
    font-size: .8rem;
}
.MyLogTotalWrap div p:first-child{
    font-weight: 600;
}