.GroupTable{
    table-layout: fixed;
    width: 100%;
    text-align: center;
    font-size: .8rem;
}
.GroupTable td{
    padding: .4rem 0;
}
.GroupTable .Student{
    background-color: #fff8e0;
}
.GroupTable th{
    padding: .5rem 0;
}
.GroupTable .GroupDivide{
    text-align: left;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: .5rem 0 .5rem .5rem;
}
.GroupTable thead .Money{
    width: 3rem;
}