.Table{
    width: 100%;
    text-align: center;
    font-size: .8rem;
    border-spacing: 0;
}
.Table td{
    padding: .5rem 0;
}
.Table .Row{
    background-color: #ECFCB0;
}
.Table th{
    padding: .5rem 0;
}
.Table .DateDivide{
    text-align: left;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: .5rem 0 .5rem .8rem;
}
.Table .Clickable{
    background-color: #fff8e0;
}
.Table .Clickable td{
    border-top: 2px solid white;
}
