.UserContainer{
    margin: auto ;
    width: 90%;
    height: 90%;
    position: relative;
}
.UserContainer h3{
    margin: 0 0 .5rem 0;
    height: 1.5rem;
}
.UserContainer .UserWrap{
    padding-top: 1rem;
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    border-radius: .5rem;
    box-sizing: border-box;
}
.UserContainer .UserWrap>button{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
    margin: 1rem 10%;
    background: white;
    border-radius: .5rem;
    padding: .4rem 0;
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 8px;
}
.UserContainer .UserWrap>button.btnLogout{
    background-color: #FB5D65;
    color: white;
}