.UserContainer{
    margin: auto ;
    width: 90%;
    height: 90%;
    position: relative;
}
.UserContainer .UserWrap{
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    border-radius: .5rem;
    box-sizing: border-box;
}
.UserContainer .UserWrap .IndexContainer>button{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
    margin: .5rem 10%;
    background: white;
    border-radius: .5rem;
    padding: .4rem 0;
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 8px;
}
.UserContainer .UserWrap .IndexContainer>button.btnLogout,
.UserContainer .UserWrap .IndexContainer>button.btnDelete{
    background-color: #FB5D65;
    color: white;
}
.IndexContainer{
    padding: .8rem;
    height: 100%;
    box-sizing: border-box;
}

.UserInfo{
    table-layout: fixed;
    width: 90%;
    text-align: center;
    font-size: .8rem;
    margin-left: 5%;
    border-radius: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-spacing:0;
    
}
.UserInfo td{
    padding: .6rem 0;
    background-color: #ECFCB0;
}
.UserInfo .ClassroomList{
    background-color: #fff8e0;
}
.UserInfo th{
    padding: .5rem 0;
}